<configuration>
    <timestamp key="dayStamp" datePattern="yyyyMMdd"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ChatClientLog-${dayStamp}.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>